@using SimulationTask2.Areas.Manage.DTOS.Member
@model List<Member>
@{
	int count = 1;
}
<div class="container">
	<h1> Member</h1>
	<a class="btn-btn-primary" asp-controller="Member" asp-action="Create">Create</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Image</th>


			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@count</th>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>
						<div style="width:100px">
							<img style="width:100%" src="~/Upload/Member/@item.imageUrl" />
						</div>
					</td>
					<td>
						<a class="btn btn-primary" asp-action="Update" asp-route-Id="@item.Id">Update</a>
						<a class="btn btn-primary" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>


					</td>
				</tr>
				count++;
			}
		</tbody>
	</table>
</div>